<!DOCTYPE html>
<html lang="en">
<head>

    <title>Dictionary learn Ukrainski</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>

@{var isHomeController = this.ViewContext.RouteData.Values["controller"]?.ToString() == "Home"; }

<body class="is-preload">
    <header>
        <!-- Nav -->
        <nav id="nav">

            <ul class="container d-flex">
                <li><a asp-action="Index">Strona główna</a></li>
                <li><a href="#work">Alfabet</a></li>
                <li><a href="#portfolio">Nauka</a></li>
                <li><a href="#contact">Słowa zapisane</a></li>
              
                <li class="ml-auto p-2"><partial name="_LoginPartial" /></li>
            </ul>
        </nav>

    </header>

    @{var containerClass = isHomeController ? "" : "container"; }
    <div class="@containerClass">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
