<!DOCTYPE html>
<html lang="en">
<head>

    <title>Dictionary learn Ukrainski</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body class="is-preload">
    <header>
        <!-- Nav -->
        <nav id="nav">
           
                <ul class="container d-flex">

                    <li><a href="#top">Główna</a></li>
                    <li><a href="#work">Alfabet</a></li>
                    <li><a href="#portfolio">Uczyć</a></li>
                    <li><a href="#contact">Zapisane</a></li>
                    <li class="ml-auto p-2"><partial name="_LoginPartial" /></li>
                </ul>
        </nav>

    </header>
  
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
