@model Dictionary.Entities.Word

@{
    ViewData["Title"] = "Edit";
}

<h1>Editing word</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(_ => _.ImagePath)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PlText" class="control-label"></label>
                <input asp-for="PlText" class="form-control" />
                <span asp-validation-for="PlText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UaText" class="control-label"></label>
                <input asp-for="UaText" class="form-control" />
                <span asp-validation-for="UaText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transcription" class="control-label"></label>
                <input asp-for="Transcription" class="form-control" />
                <span asp-validation-for="Transcription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <img src="@Model.ImagePath" style="width: 100%; height: 100%" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
